<style>
:root {
  --sdDimensionScale: 2;
  --sdDimensionXs: 4px;
  --sdDimensionSm: 8px;
  --sdDimensionMd: 16px;
  --sdDimensionLg: 32px;
  --sdDimensionXl: 64px;
  --sdSpacingXs: 4px;
  --sdSpacingSm: 8px;
  --sdSpacingMd: 16px;
  --sdSpacingLg: 32px;
  --sdSpacingXl: 64px;
  --sdSpacingMultiValue: 8px 64px; /* You can have multiple values in a single spacing token. Read more on these: https://docs.tokens.studio/available-tokens/spacing-tokens#multi-value-spacing-tokens */
  --sdBorderRadiusSm: 4px;
  --sdBorderRadiusLg: 8px;
  --sdBorderRadiusXl: 16px;
  --sdBorderRadiusMultiValue: 4px 8px; /* You can have multiple values in a single radius token. Read more on these: https://docs.tokens.studio/available-tokens/border-radius-tokens#single--multiple-values */
  --sdColorsBlack: #000000;
  --sdColorsWhite: #ffffff;
  --sdColorsGray100: #f7fafc;
  --sdColorsGray200: #edf2f7;
  --sdColorsGray300: #e2e8f0;
  --sdColorsGray400: #cbd5e0;
  --sdColorsGray500: #a0aec0;
  --sdColorsGray600: #718096;
  --sdColorsGray700: #4a5568;
  --sdColorsGray800: #2d3748;
  --sdColorsGray900: #1a202c;
  --sdColorsRed100: hsl(0 87.8% 80.7%);
  --sdColorsRed200: hsl(0 87.8% 77.5%);
  --sdColorsRed300: hsl(0 87.8% 74.3%);
  --sdColorsRed400: hsl(0 87.8% 71.1%);
  --sdColorsRed500: #f56565;
  --sdColorsRed600: hsl(0 87.8% 61.1%);
  --sdColorsRed700: hsl(0 87.8% 54.3%);
  --sdColorsRed800: hsl(0 87.8% 47.5%);
  --sdColorsRed900: hsl(0 87.8% 40.7%);
  --sdColorsOrange100: #fffaf0;
  --sdColorsOrange200: #feebc8;
  --sdColorsOrange300: #fbd38d;
  --sdColorsOrange400: #f6ad55;
  --sdColorsOrange500: #ed8936;
  --sdColorsOrange600: #dd6b20;
  --sdColorsOrange700: #c05621;
  --sdColorsOrange800: #9c4221;
  --sdColorsOrange900: #7b341e;
  --sdColorsYellow100: #fffff0;
  --sdColorsYellow200: #fefcbf;
  --sdColorsYellow300: #faf089;
  --sdColorsYellow400: #f6e05e;
  --sdColorsYellow500: #ecc94b;
  --sdColorsYellow600: #d69e2e;
  --sdColorsYellow700: #b7791f;
  --sdColorsYellow800: #975a16;
  --sdColorsYellow900: #744210;
  --sdColorsGreen100: #f0fff4;
  --sdColorsGreen200: #c6f6d5;
  --sdColorsGreen300: #9ae6b4;
  --sdColorsGreen400: #68d391;
  --sdColorsGreen500: #48bb78;
  --sdColorsGreen600: #38a169;
  --sdColorsGreen700: #2f855a;
  --sdColorsGreen800: #276749;
  --sdColorsGreen900: #22543d;
  --sdColorsTeal100: #e6fffa;
  --sdColorsTeal200: #b2f5ea;
  --sdColorsTeal300: #81e6d9;
  --sdColorsTeal400: #4fd1c5;
  --sdColorsTeal500: #38b2ac;
  --sdColorsTeal600: #319795;
  --sdColorsTeal700: #2c7a7b;
  --sdColorsTeal800: #285e61;
  --sdColorsTeal900: #234e52;
  --sdColorsBlue100: #ebf8ff;
  --sdColorsBlue200: #bee3f8;
  --sdColorsBlue300: #90cdf4;
  --sdColorsBlue400: #63b3ed;
  --sdColorsBlue500: #4299e1;
  --sdColorsBlue600: #3182ce;
  --sdColorsBlue700: #2b6cb0;
  --sdColorsBlue800: #2c5282;
  --sdColorsBlue900: #2a4365;
  --sdColorsIndigo100: #ebf4ff;
  --sdColorsIndigo200: #c3dafe;
  --sdColorsIndigo300: #a3bffa;
  --sdColorsIndigo400: #7f9cf5;
  --sdColorsIndigo500: #667eea;
  --sdColorsIndigo600: #5a67d8;
  --sdColorsIndigo700: #4c51bf;
  --sdColorsIndigo800: #434190;
  --sdColorsIndigo900: #3c366b;
  --sdColorsPurple100: #faf5ff;
  --sdColorsPurple200: #e9d8fd;
  --sdColorsPurple300: #d6bcfa;
  --sdColorsPurple400: #b794f4;
  --sdColorsPurple500: #9f7aea;
  --sdColorsPurple600: #805ad5;
  --sdColorsPurple700: #6b46c1;
  --sdColorsPurple800: #553c9a;
  --sdColorsPurple900: #44337a;
  --sdColorsPink100: #fff5f7;
  --sdColorsPink200: #fed7e2;
  --sdColorsPink300: #fbb6ce;
  --sdColorsPink400: #f687b3;
  --sdColorsPink500: #ed64a6;
  --sdColorsPink600: #d53f8c;
  --sdColorsPink700: #b83280;
  --sdColorsPink800: #97266d;
  --sdColorsPink900: #702459;
  --sdOpacityLow: 0.1;
  --sdOpacityMd: 0.5;
  --sdOpacityHigh: 0.9;
  --sdFontFamiliesHeading: Inter;
  --sdFontFamiliesBody: Roboto;
  --sdLineHeightsHeading: 1.1;
  --sdLineHeightsBody: 1.4;
  --sdLetterSpacingDefault: 0;
  --sdLetterSpacingIncreased: 1.5em;
  --sdLetterSpacingDecreased: -0.05em;
  --sdParagraphSpacingH1: 32;
  --sdParagraphSpacingH2: 26;
  --sdFontWeightsHeadingRegular: 400;
  --sdFontWeightsHeadingBold: 700;
  --sdFontWeightsBodyRegular: 400;
  --sdFontWeightsBodyBold: 700;
  --sdFontSizesH1: 48.828px;
  --sdFontSizesH2: 39.063px;
  --sdFontSizesH3: 31.25px;
  --sdFontSizesH4: 25px;
  --sdFontSizesH5: 20px;
  --sdFontSizesH6: 16px;
  --sdFontSizesBody: 16px;
  --sdFontSizesSm: 13.6px;
  --sdFontSizesXs: 10.4px;
  --sdExampleShadow: inset 0 4px 10px 0 rgba(0,0,0,0.4);
}
</style>
